/* Загальний стиль для сторінки */
body {
    font-family: 'Roboto', sans-serif; /* Використання підключеного шрифту */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Стилі для заголовку на головній сторінці */
  h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    color: #333;
  }
  
  /* Оформлення для списку товарів */
  .items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  /* Стилі для картки товару */
  .item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  

  .item h2 {
    font-size: 1.2em;
    font-weight: 500;
    color: #333;
    margin: 10px 0;
  }
  
  /* Стилі для опису товару */
  .item p {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0;
  }
  
  /* Стиль для ціни товару */
  .item b {
    font-size: 1.1em;
    color: #007bff;
  }
  
  /* Кнопка "Додати до кошика" */
  .addToCart {
    margin-top: 10px;
    font-size: 1.5em;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .addToCart:hover {
    color: #0056b3;
  }
  main .addToCart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 500;
    transition: transform 500ms ease;
  }
  main .addToCart:hover{
    transform: scale(1.5) translateY(-5px);
    
  }
  header .shopCartButton{
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
  }
  