.contactPage {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9; /* світлий фон для контрасту */
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* тінь для глибини */
  text-align: center;
}

.contactPage h1 {
  font-size: 2.8em;
  font-weight: bold;
  color: #2c3e50; /* темний колір для заголовка */
  margin-bottom: 20px;
  position: relative;
}

.contactPage h1::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #3498db; /* акцентний колір */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  border-radius: 2px;
}

.contactPage p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #34495e; /* темний, але м'який колір для тексту */
  margin-bottom: 20px;
}

.contactPage ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contactPage li {
  font-size: 1.1em;
  color: #34495e;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactPage li strong {
  margin-right: 10px;
  color: #3498db; /* акцентний колір для виділення */
}

@media (max-width: 768px) {
  .contactPage {
    padding: 20px;
  }
  
  .contactPage h1 {
    font-size: 2em;
  }
  
  .contactPage p, .contactPage li {
    font-size: 1em;
  }
}
